name: Build and push docker images

on:
  workflow_dispatch:
    inputs:
      alpineVersion:
        description: 'Alpine version id (eg. 3.13.0)'
        required: true

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        variant: [standard, extended, virt, xen, all]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the docker image for variant ${{ matrix.variant }}
      env:
        VERSION_ID: ${{ github.event.inputs.alpineVersion }}
        VARIANT: ${{ matrix.variant }}
        IMAGE: ${{ github.repository }}
      run: docker build --build-arg VERSION_ID --build-arg VARIANT . -f ./$VARIANT/Dockerfile -t $IMAGE:$VARIANT-$VERSION_ID
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
